
body{
   font-family: sans-serif;
   background-color:#CCC;
}

[main]{
    background-color: #F9F9F9;
}

[drawer]{
    background-color: #FFFFFF;
}


.success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.info {
   color: #fff;
   background-color: #5bc0de;
   border-color: #46b8da;
}

.danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.label.label-header {
    padding-left: .8em;
    font-size: 100%;
    color: #000;
}
.label-link{
    text-decoration: underline;
}

.table-header{
    background-color:lightgray;
}

.suite-name-font{
    font-weight: bold;
    color: #004d66;
}

.switch-td{
    padding-bottom: 15px !important;
    padding-top: 0px !important;
}

.newman-job-state-label{
    font-size: 12px !important;
    width: 70%;
    text-align: center;
}

.newman-job-table-cell{
    padding: 2px 0px 3px 0px;
}

.newman-build-table-cell{
    padding: 2px 0px 3px 0px;
}

.newman-agent-table-cell{
    padding: 2px 0px 3px 0px;
}

.succeed-row{
    background-color: #E0FFC4 !important;
}

.broken-row{
    background-color: #E29990 !important;
}

.default-row{
    background-color: #F5F5F5;
}

.test-name-label{
    color: dodgerblue;
    font-weight: normal;
}

.newman-job-setup-optional-property-hidden{
    visibility: hidden;
    padding: 0px;
    height: 0px;
}
.tests-num-link{
    color: #ffffff;
    text-decoration: underline;
}

.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.word-wrap-table{
    table-layout:fixed;
}
.word-wrap-td{
    word-wrap:break-word;
}
.suite-dashboard-button{
    margin-top: 3px
}
.red-column{
  color:#D3212D;
}
.blue-column{
  color:#0048BA;
}
.black-column{
    color:#0C090A
}
.main-table{
    margin-top: -25px;
    margin-bottom: -31px;
}

.top-table-navigation{
    margin-top: -25px;
}

.bottom-table-navigation{
    margin-bottom: 0px;
}

.font-size-small{
    font-size: 13px;
}

.font-size-15{
    font-size: 15px;
}

.font-size-14{
    font-size: 15px;
}

.failed-check-box-div{
    margin-top: -23px;
    margin-bottom: 23px;
}

.table-nowrap {
    table-layout:fixed;
}
.table > tbody > tr > td{
    vertical-align: middle;
}
.table-nowrap td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.progress{
    margin-bottom:0;
    max-width: 100px;
}
div.progress-bar{
    color:#000
}


body {
    margin-top: 80px !important;
    background-color: white;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

table {
    width: 100%
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 70px;
        left: 200px;
        width: 200px;
        margin-left: -200px;
        border: none;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 200px;
    }
}

.nav {
    display: block !important;
}

.side-nav {
    padding: 0;
}

.side-nav>li>a {
    display: block;
    padding: 10px 15px 10px 20px;
    text-decoration: none;
    border-radius: 0px !important;
    color: black;
}


.side-nav li a:hover,
.side-nav li a:focus {
    font-weight: bold;
}

.side-nav .active {
    font-weight: bold;
    color: #0275d8!important;

}



.topbar-info {
    color: white;
    width: 100%;
    left: 220px;
    position: absolute;
}
.pagination {
    margin-bottom: 0px;
}

.job-tests-badge {
    width: 16%;
}

.job-tests-state {
   width: 6%;
}
.job-tests-progress {
   width: 6%;
}


td {
    vertical-align: top;
}

.filterinput {
    padding-right: 30px !important;
}
.searchclear {
    position: absolute;
    right: 5px;
    top: 2px;
    height: 5px;
    margin: auto;
    font-size: 25px;
    cursor: pointer;
    color: #ccc;
}
.navbar-brand {
    width: 100%;
}

.history-table .badge {
    width: 50px;
}

.history-table .jobs {
    width: 50px;
}

.jobs-label{
    margin-left: 20px;
    float:left;
}

.jobs-list-max-job-count{
    margin:0px 50px 0px auto;
    float:right;
}

.jobs-list-max-job-count-label{
    font-family: sans-serif;
    font-size: 18px;
    color: #000000;
    margin-left: 7px;
}

.jobs-list-max-job-count-input{
    margin-left: 2px;
    width: 85px;
}

.jobs-list-max-job-count-button{
    margin-left: 7px;
}