<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <RollingFile name="RollingFile" fileName="logs/newman-agent.log" filePattern="logs/newman-agent-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="200 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>
    <Loggers>
        <Logger name="com.gigaspaces.newman" level="INFO"/>
        <Root level="INFO">
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</configuration>